---
import BaseLayout from "../layouts/BaseLayout.astro";
const allPosts = await Astro.glob("../pages/posts/*.md");
const title = "Our blog | Read some thoughts and insights";
const description = "Welcome to our blog at EnRu Translations.";
const url = "https://enrutransl.com/blog/";
---

<BaseLayout description={description} title={title} url={url}>
    <!-- <link slot="head" rel="preload" href="hero_image.svg" as="image" /> -->
    <main>
        <ul>
            {
                allPosts.map((post) => (
                    <li>
                        <a href={post.url}>{post.frontmatter.title}</a>
                    </li>
                ))
            }
        </ul>
    </main>

    <form class="top" action="#top">
        <button class="top1" type="submit">Back to Top</button>
    </form>
</BaseLayout>

<style>
    .top {
        text-align: center;
        margin: 1em;
    }

    .top1 {
        background-color: rgb(8, 20, 187);
        color: #f9f9f9;
        font-weight: 600;
    }

    ul {
        list-style: none;
        padding: 1em;
        line-height: 2;
    }

    @media (min-width: 36em) {
        .top {
            text-align: center;
            margin: 1em;
        }

        .top1 {
            background-color: rgb(8, 20, 187);
            color: #f9f9f9;
            font-weight: 600;
        }
    }
</style>
