---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";

export interface Props {
    title: string;
    description: string;
    canonicalUrl: string;
    ogImage?: string;
}

// const { description, title }: Props = Astro.props;
const { description, title, url }: Props = Astro.props;
const pageTitle = title ? `${title} - EnRu Translations` : "EnRu Translations";
const canonicalUrl = url || "https://enrutransl.com";
const ogImage = "/fin-trans.webp";
---

<!doctype html>
<html lang="en">
    <head>
        <!-- Core Meta Tags -->
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />

        <!-- SEO Specific Meta Tags -->
        <title>{pageTitle}</title>
        <meta name="description" content={description} />

        <!-- Open Graph / Facebook Meta Tags -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={canonicalUrl} />
        <meta property="og:title" content={pageTitle} />
        <meta property="og:description" content={description} />
        <meta property="og:image" content={ogImage} />

        <!-- Twitter Card Meta Tags -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:url" content={canonicalUrl} />
        <meta name="twitter:title" content={pageTitle} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:image" content={ogImage} />

        <!-- Canonical Link -->
        <link rel="canonical" href={canonicalUrl} />

        <!-- Favicon -->
        <link rel="icon" type="image/png" href="/favicon.png" />

        <!-- Performance Optimization Links -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

        <!-- Sitemap -->
        <link rel="sitemap" href="/sitemap-index.xml" />

        <!-- Robots Meta Tag -->
        <meta name="robots" content="index, follow" />

        <meta name="msvalidate.01" content="0CC0BE2E65A071619D7921BB4A4C6DE6" />

        <script type="application/ld+json">
            {
                "@context": "https://schema.org",
                "@type": "WebSite",
                "name": "{pageTitle}",
                "url": "{canonicalUrl}"
            }
        </script>

        <!-- Google tag (gtag.js) -->
        <script
            async
            src="https://www.googletagmanager.com/gtag/js?id=G-QJZMQSCBWH"
        ></script>
        <script is:inline type="text/javascript">
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag("js", new Date());

            gtag("config", "G-QJZMQSCBWH");
        </script>

        <!-- Microsoft Clarity -->

        <script type="text/javascript">
            (function (c, l, a, r, i, t, y) {
                c[a] =
                    c[a] ||
                    function () {
                        (c[a].q = c[a].q || []).push(arguments);
                    };
                t = l.createElement(r);
                t.async = 1;
                t.src = "https://www.clarity.ms/tag/" + i;
                y = l.getElementsByTagName(r)[0];
                y.parentNode.insertBefore(t, y);
            })(window, document, "clarity", "script", "mdb4glr8xv");
        </script>
    </head>

    <body>
        <div class="page-container">
            <Header />
            <slot />
            <Footer />
        </div>
    </body>
</html>

<style>
    .page-container {
        max-width: 80rem; /* Set the max width of your layout */
        margin: 0 auto; /* Center the container horizontally */
        /* padding: 0 0.1em;  */
    }
</style>
